server:
  port: 8080
spring:
  profiles:
    active: local
  cloud:
    stream:
      rocketmq:
        binder:
          name-server: 192.168.9.227:9876
      bindings:
        in-new-order: 
          destination: new-order-topic
          group: match-order
        in-cancel-order: 
          destination: cancel-order-topic
          group: match-cancel
        out-order-alter: 
          destination: order-alter-topic
          content-type: application/json
        out-new-trade: 
          destination: new-trade-topic
          content-type: application/json
        out-push-depth: 
          destination: push-depth-topic
          content-type: application/json


 