server:
  port: 8888
spring:
  redis:
    host: 10.10.150.26
    port: 30003
  datasource:
    url: jdbc:mysql://10.10.150.26:3306/test
    username: root
#    password: Dev127336
    password: a1b2c3d4!P
#    password: 12345678
    driver-class-name: com.mysql.cj.jdbc.Driver
  application:
    name: exchange-match
  profiles:
    active: local
  cloud:
    stream:
      rocketmq:
        bindings: 
          input-new-order: 
            consumer:
              orderly: true
      bindings:
        input-new-order: 
          destination: new-order-topic
          group: match-order
        input-cancel-order: 
          destination: cancel-order-topic
          group: cancel-topic
        output-update-order: 
          destination: update-order-topic
          content-type: application/json
          producer:
            # 分区 key 表达式。该表达式基于 Spring EL，从消息中获得分区 key
            partition-key-expression: payload['id']
        output-trade: 
          destination: new-trade-topic
          content-type: application/json
          producer:
            # 分区 key 表达式。该表达式基于 Spring EL，从消息中获得分区 key
            partition-key-expression: payload['makerUid']

# 开启spring boot项目正确停止服务的姿势....
#management:
#  endpoint:
#    shutdown:
#      enabled: true
#    health:
#      show-details: always
#  endpoints:
#    web:
#      exposure:
#        include:
#          - shutdown
#          - health

