spring:
  cloud:
    stream:
      rocketmq:
        binder:
          name-server: 10.10.150.29:9876

hazelcast:
  self-setting: false #如果该配置为false使用内网自动发现
  #多种网络环境均开启只会启用第一个
  #主动发现配置
  tcp-ip:
    enable: true
    interface-ex: 172.16.10.*
    members:
    - 172.16.10.98
  kubernetes:  #k8s部署环境网络发现
    enable: true
    service-dns:

# 日志配置
logging:
  config: classpath:logback.xml
